<div class="grid-container">
  <ul id="grid" class="grid">
    <li class="position-highlight">
      <div class="inner"></div>
    </li>
    <li *ngFor="let widget of leftSpanDemo; index as i" [attr.data-w]="widget.w"
    [attr.data-h]="widget.h" 
    [attr.data-x]="widget.x"
    [attr.data-y]="widget.y">
      <div class="inner">
        <div class="controls">
          <a href="#zoom1" class="resize" data-w="1" data-h="1">1x1</a>
          <a href="#zoom2" class="resize" data-w="2" data-h="1">2x1</a>
          <a href="#zoom3" class="resize" data-w="3" data-h="1">3x1</a>
          <a href="#zoom1" class="resize" data-w="1" data-h="2">1x2</a>
          <a href="#zoom2" class="resize" data-w="2" data-h="2">2x2</a>
        </div>
         {{i}} 
        <app-widget></app-widget>
      </div>
    </li>
  </ul>
</div>